<section class="vmax-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Editar datos</h3>
                
              <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="mb-3">
                  <label for="nombrePersona" class="col-form-label">Nombre completo:</label>
                  <input autofocus type="text" class="form-control" id="nombrePersona"name="nombrePersona" [(ngModel)]="persona.nombrePersona" required />
                </div>
                <div class="mb-3">
                  <label for="puestoPersona" class="col-form-label">Puesto:</label>
                  <input type="text" class="form-control" id="puestoPersona" name="puestoPersona" [(ngModel)]="persona.puestoPersona" required/>
                </div>
                <div class="mb-3">
                  <label for="ubicacionPersona" class="col-form-label">Lugar de residencia:</label>
                  <input type="text" class="form-control" id="ubicacionPersona" name="ubicacionPersona"[(ngModel)]="persona.ubicacionPersona" required/>
                </div>
                <div class="mb-3">
                  <label for="imgPersona" class="col-form-label">Url de fotografia:</label>
                  <input type="url" class="form-control" id="imgPersona" name="imgPersona" [(ngModel)]="persona.imgPersona" required/>
                </div>
                <div class="mb-3">
                  <label for="telPersona" class="col-form-label">Teléfono:</label>
                  <input type="tel" class="form-control" id="telPersona" name="telPersona" [(ngModel)]="persona.telPersona" required/>
                </div>
                <div class="mb-3">
                    <label for="emailPersona" class="col-form-label">Email:</label>
                    <input type="email" class="form-control" id="emailPersona" name="emailPersona" [(ngModel)]="persona.emailPersona" required/>
                </div>
                <div class="mb-3">
                    <label for="githubPersona" class="col-form-label">Github:</label>
                    <input type="url" class="form-control" id="githubPersona" name="githubPersona" [(ngModel)]="persona.githubPersona" required/>
                </div>
                <div class="mb-3">
                    <label for="linkedinPersona" class="col-form-label">Linkedin:</label>
                    <input type="url" class="form-control" id="linkedinPersona" name="linkedinPersona" [(ngModel)]="persona.linkedinPersona" required/>
                  </div>
                <div class="mb-3">
                  <label for="sobreMi" class="col-form-label">Descripción:</label>
                  <textarea class="form-control" id="sobreMi" name="sobreMi" [(ngModel)]="persona.sobreMi" required></textarea>
                </div>
              
    
                <button class="btn btn-primary btn-lg btn-block" type="submit">Enviar</button>
                <br>
                <a href="/">Volver</a>
  
  
              </form>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    
  