.banner-image {
    background-image: url("../assets/banner-img1.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
}
  
svg.image-filter {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
  
.square {
    z-index: 2;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 75px;
    color: #FFFFFF;
    /*border: 3px solid #c5c53b;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;*/
}
  
  
.square > #titulo{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
    margin-top: auto;
}
  
  
.navbar-nav{
    align-items: flex-end;
    margin:2%;
}
  
.nav-item {
    padding-left: 33px;
}
  
  
#logoArg {
    max-height: 80px;
   
}
  
.email{
    color: white;
    width: 30px;
}
  