<section class="vmax-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Iniciar Sesión</h3>
              <p class="mb-5">Por favor, ingresa tu usuario y clave</p>  
              <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                <div class="form-outline mb-4">
                  <input autofocus type="text" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" required/>
                  <label class="form-label" for="nombreUsuario">Usuario</label>
                </div>
    
                <div class="form-outline mb-4">
                  <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password" required/>
                  <label class="form-label" for="password">Clave</label>
                </div>
    
                <button class="btn btn-primary btn-lg btn-block" type="submit">Enviar</button>
                <br>
                <a href="/">Volver</a>


              </form>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>