@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,600;8..144,700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

body {
background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1,
h2,
h3 {
  font-family: "Roboto Flex", sans-serif;
}

h1 {
  font-size: 5em;
}

h2 {
  color: #76a2df ;



}



a {
  text-decoration: none;
  color: inherit;
  transition: .3s;
}

img {
  max-width: 150%;
}

/* Encabezado*/


header {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./assets/fondoheader2.jpg);
  background-size: cover;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ad77f800;
  color: #ffffff;

}

.logocabecera {
  width: 200px;
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style-type: none;
  margin: 10px;
  font-size: 1.2em;
  transition: .2s;
}

ul li:hover{
  transform: scale(1.2);
}

.portada {
  
  font-weight: 600;
  text-shadow:#ffffff 0 6px 30px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 50px;
  color:white;
  padding: 20px;
}
.portada>h2 {
  font-size: 3em;
}

 nav i {
  font-size: 1.3em;
  transition: .2s;
}

i.iconoLogueo {
  font-size: 1.5em;
  margin: 0 10px;
}

 i:hover{
  color: #76a2df;
  transform: scale(1.2);
}
i {
  font-size: 1em;
  transition: .2s;
}
 


/* Acerca de mí */

.info {
  position: relative;
}

.fotografia {
  width: 150px;
  border-radius: 50%;
  position: absolute;
  top: -200px;
  left: 20px;
}

.descripcion {
  margin: 100px 20px 20px 20px;
}

.acerca-de-mi{
  margin: 50px 20px;
  display: flex;
}



.ubicacion {
  font-size: .9em;
}


/* Experiencia - Educacion - Proyectos

.contenedor {
  margin: 20px;
  padding: 20px;
  border: 1px solid #508bfc;
  border-radius: 20px;
  background-color: #ffffff80;
  box-shadow: 0 0 20px  rgb(118, 162, 223);
}

.titulo-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.descripcion-contenedor {
  display: flex;
  margin: 30px 0;
  justify-content: space-between;
}

.contenedor img {
  width: 150px;
  object-fit: contain;
  max-height: 150px;
  background-color: #76a2df;
}

.detalle-contenedor {
  margin: 0 20px;
  padding: 10px;
}

.info-descripcion {
  display: inline;
  margin-right: 20px;
}

.iconos-edicion {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.iconos-edicion i {
  margin: 10px 5px;
  align-self: flex-start;
}
*/
/* Responsive 

@media (max-width: 750px) {
  header {
    min-height: 70vh;
  }


  .fotografia{
    width: 150px;
    top: -170px;
  }

  .portada{
    width: 65%;
    font-size: .5em;
  }

  h2{
    font-size: 1.6em;
  }

  .sobre-mi p{
    text-align: justify;
  }

  .titulo-contenedor{
    flex-direction: column;
    align-items: center
  }

  .titulo-contenedor img{
    width: 150px;
    margin: 20px;
  }

  .iconos-edicion{
    margin-top: 10px;
  }
}

@media (max-width: 500px){
  header{
    min-height: 50vh;
  }

  h1{
    font-size: 2em;
  }

.portada{
    top: 125px;
  }
  
  .fotografia{
    width: 100px;
    top: -150px;
  }
  
  .logocabecera{
    display: none;
  }

  .iconoLogueo{
    position: absolute;
    top: 15px;
    right: 10px;
  }

}
*/